<div class="container-fluid">
    <div class="row">
        <!-- Left Column for Search Options -->
        <div class="col-md-3 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search Options</h5>
                    <div class="form-group">
                        <label for="searchText">Search by City:</label>
                        <input type="text" class="form-control" id="searchText" name="city">
                        <button type="button" class="btn btn-primary mt-3" id="searchButton">Search</button>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="map-title">Map</h5>
                </div>
            </div>
        </div>
        <!-- Right Column for API Information -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Local Breweries:</h5>
                    {{#each apiData as |brewery|}}
                    <div class="brewery-template">
                        <!-- {{brewery.id}} -->
                        <p><strong>{{brewery.name}} ({{brewery.brewery_type}})</p></strong>
                        <p>Address:</p>
                        <p>{{brewery.address_1}}, {{brewery.city}}, {{brewery.state}} {{brewery.type}}</p>
                        <p>Phone:</p>
                        <p>+1{{brewery.phone}}</p>
                        <p>Website: <a href="{{brewery.website_url}}" target="_blank">{{brewery.website_url}}</a></p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="/js/homepage.js" type="text/javascript"></script>