<div class="row">     
     {{#each breweries as |brewery| }}
     <div class="col=6">
        <div class="card" id="mybrewlist">
              <h3>{{brewery.name}}</h3>
              {{brewery.address}}
              {{brewery.city}}  {{brewery.state}}  {{brewery.zipcode}}
             <h4> {{brewery.Remark}} </h4>
             <h6> {{brewery.comments}} </h6>              
        </div>
     </div>
     {{/each}}
</div>

 {{!-- <script src="js/mypubs.js"></script> --}}